html {
    height: 100%;
    width: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2016/11/22/19/15/hand-1850120_960_720.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

.keys {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 200px 40px;
}

.key {
    display: flex;
    flex-direction: column;
    border: 2px solid #fff;
    border-radius: 3px;
    gap: 4px;
    width: 10rem;
    background-color: #540d9c;
    margin: 16px;
    padding: 16px;
    align-items: center;
    color: aquamarine;
    transition: all .07s ease;
    text-shadow: 0 0 .5rem black;
    font-size: 18px;
    font-weight: 800;
}

.playing {
    border: 1px solid #f34;
    transform: scale(1.1);
    box-shadow: 0 0 2px #ffc600;
}

span {
    color: #fff;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 200;
}

